
	/* ************************************  
	                                                
	        Cores usadas no layout       
	                                                 
	       amarelo ouro:   #f90             
	       cinza fundos:   #F5F5F5       
	       cinza bordas:   #B6B6B6      
	       azul link:       #336699        
	       azul link ativo: #003366        
	       verde aqua:      #cec;          
	   ************************************ */
	
/* Default styles */

/* * { margin:0; padding:0; }*/

body {
    font: normal 14px/120%;/* Arial,Helvetica,sans-serif;
    font-family: 'Montserrat', sans-serif,helvetica,arial; */
    font-family: 'Lato', sans-serif; /* UFSM */
	background: #22b14c url('../images/bg.jpg') repeat-x center top;
	color:#636363;
    margin:0; 
    padding:0;
}

section {
    display: block;
}

h1 {
	line-height: 120%;
}

h2, h3, h4, h5, h6 {line-height: 1.2em; margin:32px 0 22px 0;}

/*h1{font-size:4.8em;font-weight:normal;font-family:"helveticaneuelight",helvetica,arial,sans-serif}*/
h1{font-size:3.0em}
h2{font-size:2.0em}
h3{font-size:1.8em}
h4{font-size:1.5em}
h5{font-size:2.2em}
h6{font-size:1.8em}

.titulo_pagina {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6em;
    text-align: left;
    color: #2f2f2f;
    /*line-height: 44px;*/
    border-bottom:solid 4px rgba(214,133,45,.77);/*verde #33c75e*/;
}

p {text-indent: 2.4em; margin-bottom:16px;line-height: 1.625em;}

em {font-style: italic;}

.r {text-align: right;}

a {
    color: #2f2f2f;/*cafe*/
    font-weight:bold;
    text-decoration:none;
}

a:hover {color: #33c75e;/*verde*/font-weight:bold;}

a.external:after{
    content: url('../images/external_link_icon.gif'); 
    vertical-align:middle;
}


#content {
    width: 960px;
    min-height: calc(100% - 156px);
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 43px auto 0 auto;
    position: relative;
    padding: 0 0 156px 0;
}

#cabecalho{
    display:table; width:100%;
 	border-bottom:9px solid #ccc;
}


#logo {
    position:relative;
    float:left;
    background: url('../images/35px-atom.png');
    height:35px;
    width:35px;
    margin: 10px 20px;
    
}

#logo-texto{position: relative;font-size: 1.5em;}

#nav-top-menu {
        /*height:35px;*/
     	display: table-cell;
		width: 240px;
		vertical-align: top;
		padding-left: 25px;
		padding-top: 45px;
		background: #f2f2f2 url("../images/sidebar_background.png") top left;
}

#nav-top-menu ul {
    list-style:none; 
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#nav-top-menu ul li {
    display: block;
    margin-right:30px;
    padding:10px;
    border-radius:3px;
}

#nav-top-menu ul li a {
    text-decoration: none;
    color: #2f2f2f;
    font-weight:bold;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
     
}  

#nav-top-menu ul li a:hover {
    color: #33c75e;
}

#nav-top-menu ul li:hover {
   background-color: #cec; /* verde aqua */
}

#nav-top-menu a:before{content: '\00BB  ';}

#f-menu {
    height:54px;
    position: relative;
    top: 85px;
}

#f-menu ul {
    display:inline-block;
    list-style:none; 
    position: relative;
    float: right;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}

#f-menu ul li {
    display: inline;
     
}

#f-menu ul li a {
    text-decoration: none;
    color: #2f2f2f;
    font-weight:bold;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
     
}  

#f-menu ul li a:hover {
    color: #33c75e;
}


.center{margin:0 auto;}
.text-center{text-align:center;}


#banner-inicial {
    display:table-cell;
    margin:0 Auto;
    text-align:center;
}

.conteudo {padding:30px;}

#footer {
    position: absolute;
    bottom: 34px;
    border-top: solid 4px #33c75e;
    height: 98px;
    width: 100%;
    color: #2f2f2f;
    background: #fff url('../images/brasao.png') no-repeat top;
    background-position: 40px 10px;
    padding-top:10px;
    padding-bottom:30px;
    
}

.footer-right a {
    text-decoration: none;
    color: #2f2f2f;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.copyright {
    position: absolute;
    bottom: 0;
    height: 34px;
    width: 100%;
    background: #2f2f2f;
}
.copyright-text {
    margin-right: 40px;
    text-align: right;
    font-size: 11px;
    padding-top: 11px;
    color: white;
}